body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #7aad55;
    overflow-x: hidden;

}

.mainCont {
    display: flex;
    justify-content: center;

}

.bgCont {
    position: relative;
    width: 896px;
    height: 768px;
    transform: scale(2.8);
    transform-origin: top center;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

#backgroundImage {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    image-rendering: pixelated;
    display: block;
}

.buttonCont {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    pointer-events: none;
    width: 50%;
    height: 20%;
    position: absolute;
    top: 8%;
}


.btn {
    cursor: pointer;
    pointer-events: auto;

}

#jasonButton {
    width: 50px;
    height: 50px;
}

#justinButton {
    width: 50px;
    height: 50px;

}

#jullianaButton {
    width: 50px;
    height: 50px;
}